.background {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-image: url('../../images/45700.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 70%;
  padding-top: 50px;
  background-color: rgba(255, 255, 255, 0.779);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.h1 {
  position: absolute;
  top: 0px; 
  left: 140px;
}

.span {
  font-size: 15px;
  font-weight: bold;
}
.container {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 500px;
  height: 15px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.492);
  text-align: left;
  border-radius: 10px;
  margin-bottom: -15px;
}

.input {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 200px;
  height: 5px;
  padding: 10px;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #05040400;
  color: white;
  border-radius: 4px;
  margin-right: 10px;
  align-items: center;
  text-align: left;
}

::placeholder {
  font-size: 13px;
  color: rgb(189, 189, 189);
  background-color: rgba(0, 0, 0, 0);
}

.label {
  display: inline-block;
  width: 80px; 
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 13px;
    font-weight:bolder;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-right: 10px;
}

.error {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #ff8484;
  display: inline-block;
  font-size: 13px;
  font-weight: bolder;
  text-align: center;
}

.checkboxLabel {
  display:contents ;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  color: white;
}

.containerCheckbox {
  width: 500px;
  height: 100px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.492);
  border-radius: 10px;
  margin-bottom: -15px;
}

.divCheckbox {
  display: contents;
  top: 10px;
}


.inputSubmit {
  background-color: #b41515; 
  border: none; 
  color: white; 
  padding: 10px 20px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  cursor: pointer;
  outline: none; 
  position: absolute;
  left: -59.5%;
  top: 36%;
  height: 95px;
  width: 100px;
  border-radius: 600%;
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.inputSubmit:hover {
  transform: translateX(1px); 
  background-color: #777777; 
}

.inputSubmit:disabled {
  box-shadow: 0 2px 4px b41515(0, 0, 0, 0.2);
}